@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: "맑은 고딕";
    color: #333;
    box-sizing: border-box;
}
img { 
    vertical-align: top;
}
.wrap {
    width: 100%;
    height: 970px;
    background: #fc6;
}
.top {
    height: 850px;
    background: #fcc;
    display: flex;
}
header {
    width: 200px;
    height: 100%;
    background: #369;
}
.contents {
    width: calc(100% - 200px);
    height: 100%;
    background: pink;
}
.slide {
    height: 400px;
    background: #fff;
}
.banner {
    height: 200px;
    background: tomato;
}
.con {
    height: 250px;
    background: green;
}
footer {
    height: 120px;
    background: #333;
}