@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: "맑은 고딕";
    color: #333;
    box-sizing: border-box;
}
img { 
    vertical-align: top;
}


.wrap {
    width: 100%;
    height: 970px;
    background: #fc6;
}
.top {
    height: 850px;
    display: flex;
}
header {
    width: 200px;
    height: 100%;
    background: #fcfaeb;
    padding: 100px 0;
}
header h1 {
    margin-bottom: 30px;
}
nav {
    padding: 0 20px;
}
nav > ul > li > a {
    display: block;
    background: #6d8049;
    color: #fff;
    padding: 10px;
}
nav > ul > li {
    position: relative;
}
nav > ul > li:hover > a,
nav > ul > li > a:focus,
nav > ul > li.on > a {
    background: #ae6105;
}
.sub {
    position: absolute;
    top: 0;
    left: 160px;
    width: 1000px;
    z-index: 10;
    display: none;
}
.sub li {
    display: inline-block;
}
.sub li a {
    display: block;
    padding: 10px 20px;
    width: 200px;
    color: #fff;
}
.sub li a:hover,
.sub li a:focus {
    background: #6d8049;
}
.menubg {
    width: calc(100% - 180px);
    height: 152px;
    position: absolute;
    top: 148px;
    left: 180px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}
.spot {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}
.spot a:first-child {
    border-right: 1px solid #6d8049;
    padding-right: 5px;
}

.contents {
    width: calc(100% - 200px);
    height: 100%;
    background: pink;
}
.slide {
    height: 400px;
    background: #fff;
    position: relative;
}
.slide ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.slide ul li a {
    display: block; height: 100%;
}
.slide ul li.s1 {
    background: url(../images/slide_d_01.jpg) no-repeat center/cover;
    display: block;
}
.slide ul li.s2 {
    background: url(../images/slide_d_02.jpg) no-repeat center/cover;
}
.slide ul li.s3 {
    background: url(../images/slide_d_03.jpg) no-repeat center/cover;
}

.banner {
    height: 200px;
    background: #6d8049;
    padding: 0 50px;
    position: relative;
}
.banner a {
    display: flex;
    height: 100%;
    align-items: center;
}
.imgBox {
    margin-right: 20px;
}
.arrow {
    position: absolute;
    right: 70px;
    top: 70px;
}
.txtBox h2 {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    font-size: 30px;
    margin-bottom: 20px;
}
.txtBox p {
    color: #fff;
    font-size: 20px;
}
.txtBox p span {
    text-decoration: underline;
    color: #fff;
    font-size: 20px;
}
.con {
    height: 250px;
    background: green;
}
footer {
    height: 120px;
    background: #333;
}